@import './reset.css';

.main-block{
	width: 100%;
	min-height: 100vh;
	background: #1d2029;
}
.main-block-white{
	background: #fff;
}
.social-block{
	width:100%;
}
.social-top{
	width: 100%;
	display: flex;
	background: #20222f;
	height:240px;
	padding: 40px 0;
}
.social-top-white{
	background: transparent;
}
.social-top-content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
	align-items: center;
}
.social-top-left h1{
    color: #fafbfd;
    font-weight: 700;
    margin: 0;
    font-size: 25px;
}
.social-top-left{
	padding-bottom: 0px;
	border-bottom: 0px solid transparent;
	margin-bottom: 0px;
}
.social-top-left h1.social-title-white{
    color: #20222f;
    font-weight: 700;
}
.social-top-left p{
    color: #969bb8;
    font-weight: 500;
    margin: 5px 0 0 0;
    font-size: 14px;
}
.social-top-left p.social-description-white{
    color: rgba(32, 34, 47, 0.49);
    font-weight: 600;
}
.social-list{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top:-100px;
}
.social-item{
	width: 23%;
	height: auto;
	box-sizing: border-box;
	padding: 20px 10px 20px;
	display: flex;
	margin-bottom: 0px;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	align-items: center;
	background: #252b43;
	border-radius: 5px;
	position: relative;
	cursor: pointer;
	transition:.2s all;
	-o-transition:.2s all;
	-ms-transition:.2s all;
	-moz-transition:.2s all;
	-webkit-transition:.2s all;
}
.social-item:hover{
	background: #333a56;
	cursor: pointer;
	transition:.2s all;
	-o-transition:.2s all;
	-ms-transition:.2s all;
	-moz-transition:.2s all;
	-webkit-transition:.2s all;
}
.social-item-white{
	background: #f0f3fa;
}
.social-item-white:hover{
	background: #e1e3f0;
}
.line-social{
	width: 100%;
	height: 4px;
	position: absolute;
	top: 0;
	left: 0;
}
.color-twitter{
	background: #1a8ef7;
}
.color-facebook{
	background: #1da3f2;
}
.color-instagram{
	background: linear-gradient(left, #f7c06f, #e04c93);
	background: -o-linear-gradient(left, #f7c06f, #e04c93);
	background: -ms-linear-gradient(left, #f7c06f, #e04c93);
	background: -moz-linear-gradient(left, #f7c06f, #e04c93);
	background: -webkit-linear-gradient(left, #f7c06f, #e04c93);
}
.color-default{
	background: #c2042b;
}
.social-icon{
	width: 25px;
	height: 25px;
	margin-right: 5px;
	position: relative;
    top: 4px;
}
.social-arrow-icon{
	width: 7px;
	height: 7px;
	margin-right: 7px;	
	position: relative;
	top:-3px;
}
.social-item-link a{
	color:#8c94b9;
	font-size: 14px;
	font-weight: 700;
}
.social-item-link{
	display: flex;
	justify-content: center;
	align-items: center;
    position: relative;
    top: 7px;
}
.social-item-num{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin: 25px 0 20px;
}
.social-item-num h2, .social-item-num h4{
	margin:0;
	padding: 0;
}
.social-item-num h2 {
	color: #fff;
	font-size: 55px;
	font-weight: 700;
}
.social-item-num h2.subscriber-light {
	color: #20222f;
}
.social-item-num h4{
    color: #868cac;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 4px;
    margin-top: 1px;
}
.social-item-rating p{
	margin: 0;
    color: #348f84;
    font-weight: 700;
    margin-top: 7px;
    position: relative;
    top: 4px;
}
.social-item-rating p.down{
    color: #dc414c;
}
.social-item-rating{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.overview-block{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}
.overview-item{
	display: flex;
	background: #252b43;
	width: 23%;
	height: auto;
	box-sizing: border-box;
	padding: 20px 25px;
	border-radius: 5px;
	flex-direction: column;
	margin-bottom: 40px;
	cursor: pointer;
	transition:.2s all;
	-o-transition:.2s all;
	-ms-transition:.2s all;
	-moz-transition:.2s all;
	-webkit-transition:.2s all;
}
.overview-item:hover{
	background: #333a56;
	transition:.2s all;
	-o-transition:.2s all;
	-ms-transition:.2s all;
	-moz-transition:.2s all;
	-webkit-transition:.2s all;
}
.overview-item-white{
	background: #f0f3fa;
}
.overview-item-white:hover{
	background: #e1e3f0;
}
.overview-item-top{
	display: flex;
	align-items: center;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 4px;
}
.overview-item-bottom{
	display: flex;
	align-items: flex-end;
	width: 100%;
	flex-direction: row;
	margin-top: 20px;
	justify-content: space-between;	
}
.overview-item-top h3{
	font-size: 18px;
	margin: 0;
	color: #8c94b9;
	font-weight: 700;
}
.overview-item-bottom h4{
	color: #fff;
	font-weight: 700;
	font-size: 40px;
	margin: 0;
}
.overview-item-bottom h4.subscriber-light{
	color: #20222f;
}
.overview-item-bottom-left {
	display: flex;
	flex-direction: row;
}
.overview-item-bottom-left p{
	margin: 0;
	font-weight: 700;
}
.overview-item-bottom-left p.rating-status-up{
	color:#348f84;
}
.overview-item-bottom-left p.rating-status-down{
	color:#dc414c;
}
.overview-icon{
	position: relative;
    top: 5px;
}
.overview-block-title{
	width: 100%;
    margin-top: 41px;
    margin-bottom: 20px;
}
.overview-block-title h1{
	color: #fff;
	margin: 0;
	font-weight: 700;
	font-size: 26px;
}
.overview-block-title h1.overview-title-light{
	color: #61636f;
}