/*fonts*/

/*----------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
/*font-family: 'Inter', sans-serif;*/
/*----------------*/

/*fonts*/

*{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
	font-family: 'Inter', sans-serif;
}
a:hover{
	text-decoration:none;
}
