.switch-block{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.switch-block h1{
    margin: 0 10px 0 0;
    font-weight: 600;
    font-size: 15px;
    color: #7f83a6;
}
.switch-block-button{
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 24px;
    box-sizing: border-box;
    padding: 6px;
    background: linear-gradient(to right, #4a7fab, #48c995);
    background: -webkit-linear-gradient(to right, #4a7fab, #48c995);
    background: -o-linear-gradient(to right, #4a7fab, #48c995);
    background: -ms-linear-gradient(to right, #4a7fab, #48c995);
    background: -moz-linear-gradient(to right, #4a7fab, #48c995);
    border-radius: 30px;
    overflow: hidden;
}
.switch-block-button-circle{
    position: absolute;
    width: 22px;
    height: 22px;
    background: #fff;
    top: 1px;
    left: 3px;
    border-radius: 50%;
    transition:.3s all;
    -o-transition:.3s all;
    -ms-transition:.3s all;
    -moz-transition:.3s all;
    -webkit-transition:.3s all;
}
.switch-block-button-circle-left{
    background: #252b43;
    left: 27px;
    border-radius: 50%;
    transition:.3s all;
    -o-transition:.3s all;
    -ms-transition:.3s all;
    -moz-transition:.3s all;
    -webkit-transition:.3s all;
}
h1.switch-block-title{
    color: #868999;
}