@media screen and (max-width: 992px) {
	.social-top-content {
	    flex-direction: column;
	}
	.social-list {
	    flex-direction: column;
	    margin-top: 0px;
	}
	.social-item {
		width: 100%;
		margin-bottom: 20px;
	}
	.overview-block {
    	flex-direction: column;
	}
	.overview-item {
		width: 100%;
	}
	.social-top {
		height: 230px;
	}
	.social-top-left{
		padding-bottom: 20px;
		border-bottom: 2px solid #323548;
		margin-bottom: 15px;
	}
	.switch-block{
		    justify-content: space-between;
	}
}
